name: SauceDemo Tests

on: [push, pull_request]

jobs:
  test:
    runs-on: ubuntu-latest
    
    steps:
    - uses: actions/checkout@v4
    
    - name: Set up Python
      uses: actions/setup-python@v3
      with:
        python-version: '3.10'

    
    - name: Install dependencies
      run: |
        pip install -r requirements.txt
        sudo apt-get update
        sudo apt-get install -y allure
    
    - name: Run tests
      run: |
        pytest tests/test_login.py --alluredir=allure-results
    
    - name: Generate Allure report
      if: always()
      run: |
        allure generate allure-results -o allure-report --clean
    
    - name: Upload Allure report
      if: always()
      uses: actions/upload-artifact@v4
      with:
        name: allure-report
        path: allure-report

    - name: Установка Java
      uses: actions/setup-java@v4
      with:
        distribution: 'temurin'
        java-version: '17'  # Убедитесь, что используется версия Java 8 или выше

    - name: Установка Allure Commandline
      run: npm install -g allure-commandline

    - name: Генерация отчета Allure
      run: allure generate allure-results -o allure-report --clean
